//remove border
.main-side-menu ::ng-deep .p-tieredmenu {
  border: none;
}

//margin-top
.main-side-menu {
  margin-top: 10%;
  margin-left: 4%;
}

.user-details-sidebar {
  margin-top: 10%;
  text-align: center;
}

.user-details-image {
  margin-bottom: 2%;
}

.user-details-name {
  margin-bottom: 10%;
}
