<p-card header="Add User">
  <div class="add-user-header">
    Account Details
  </div>
  <div>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
      <div class="create-user-group">
        <label class="input-label-cu" for="validationCustom0"><span>*</span>First Name</label>
        <input pInputText type="text" formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
        <div *ngIf="submitted && f['firstName'].errors">
          <div *ngIf="f['firstName'].errors['required']">
            First Name is required
          </div>
          <div *ngIf="f['firstName'].errors['minlength']">Min Length is 3 char</div>
          <div *ngIf="f['firstName'].errors['maxlength']">
            Max Length is 20 char
          </div>
        </div>
      </div>

      <div class="create-user-group">
        <label class="input-label-cu" for="validationCustom0"><span>*</span>Last Name</label>
        <input pInputText type="text" formControlName="lastName"
          [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
        <div *ngIf="submitted && f['lastName'].errors">
          <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
          <div *ngIf="f['lastName'].errors['minlength']">Min Length is 3 char</div>
          <div *ngIf="f['lastName'].errors['maxlength']">Max Length is 20 char</div>
        </div>
      </div>

      <div class="create-user-group">
        <label class="input-label-cu" for="validationCustom0"><span>*</span>Email </label>
        <input pInputText type="text" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['pattern']">
            Email must be a valid email address
          </div>
        </div>
      </div>

      <div class="create-user-group">
        <label class="input-label-cu" for="validationCustom0"><span>*</span>User Type </label>
        <p-dropdown [options]="objUserTypes" formGroupName="userTypeId" optionLabel="name"></p-dropdown>
        <div *ngIf="submitted && f['userTypeId'].errors">
          <div *ngIf="f['userTypeId'].errors['required']">User Type is required
          </div>
        </div>
      </div>

      <div class="create-user-group">
        <label class="input-label-cu" for="validationCustom0"><span>*</span>Password </label>
        <input pInputText type="password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <br />

        <div *ngIf="submitted && f['password'].errors">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" 0
            *ngIf="f['password'].errors['pattern']">
            Password must be atleast 8 char long, contans lowercase,uppercase
            latter,numbers and special chars
          </div>
        </div>
      </div>

      <div class="create-user-group">
        <label class="input-label-cu" for="validationCustom0"><span>*</span>Confirm Password </label>
        <input pInputText type="password" formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
        <div *ngIf="submitted && f['confirmPassword'].errors">
          <div *ngIf="f['confirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirmPassword'].errors['mustMatch']">
            Confirm Password must match with Password
          </div>
        </div>
      </div>

      <div>
        <p-button [label]="buttonText" styleClass="p-button-secondary" type="submit"></p-button>
      </div>
    </form>
  </div>
</p-card>