.card-size ::ng-deep .p-card .p-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-input-custom ::ng-deep .p-inputtext {
  margin-left: 2%;
  margin-bottom: 2%;
  height: 2rem;
}

.footer-table {
  margin-top: 5%;
}

.margin-left-2per {
  margin-left: 2%;
}
